.App {
    text-align: center;
}

button {
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    margin: 20px;
    border: 0;
    cursor: pointer;
}

input {
    min-width: 400px;
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    margin: 20px;
    border: 0;
    cursor: pointer;
}

h1 {
    font-size: 35px;
    margin-top: 20px;
}
