.App {
    text-align: center;
}
a {
    color: lightblue;
    font-size: 24px;
}

nav {
    background-color: darkslategray;
    padding: 5px;
}

nav a {
    margin: 10px;
}

.activeLink {
    color: lightyellow;
    text-decoration: none;
}

button {
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    margin: 20px;
    border: 0;
    cursor: pointer;
}

h1 {
    font-size: 35px;
    margin-top: 20px;
}
